/* ----------- Header -----------*/
.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__wrapper {
    max-width: 70.75rem;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.header__logoText {
    font: var(--headline5);
    font-weight: 900;
    color: var(--primary);
}

.header__navigationList {
    list-style: none;
    color: var(--white);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 0;
    margin: 0;
}

.header__navigationItem {
    color: var(--white);
    font: var(--button);
    cursor: pointer;
}

.header__navigationItem--link {
    text-decoration: none;
    color: var(--white);
}

.header__navigationItem--link:active {
    color: var(--secondary);
    color: var(--primary);
}

.header__navigationItem:visited {
    color: var(--primary);
}

.header__buttonText {
    font: var(--button);
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    border: none;
}

@media screen and (max-width: 767.98px) {
    .header__navigationContainer {
        display: none;
    }
}